<div *ngIf="uncompletedTodos">
  <h3>Un-Completed Todos</h3>
  <div *ngFor="let todo of uncompletedTodos, let i=index">
    <div class="card">
      <div *ngIf="!todo.completed">
        <h5 class="card-header">Todo {{i}}</h5>
        <div class="card-body">
          <p class="card-text">{{todo.text}}</p>
          <button type="button" class="btn btn-primary" (click)="completeTodo(todo._id, true)">&#10004; Completed</button>
          <button type="button" class="btn btn-success" (click)="editTodo(todo._id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="removeTodo(todo._id)">&#10006; Remove</button>
        </div>
      </div>
    </div>
    <br>
  </div>

</div>

<div *ngIf="completedTodos">
  <h3>Completed Todos</h3>
  <div *ngFor="let todo of completedTodos, let i=index">
    <div class="card">
      <div *ngIf="todo.completed">
        <h5 class="card-header">Todo {{i}}</h5>
        <div class="card-body">
          <h5 class="card-title">Completed At: {{getDate(todo.completedAt)}}</h5>
          <p class="card-text">{{todo.text}}</p>
          <button type="button" class="btn btn-warning" (click)="completeTodo(todo._id, false)">&#10006; Un Completed</button>
          <button type="button" class="btn btn-success" (click)="editTodo(todo._id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="removeTodo(todo._id)">&#10006; Remove</button>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
