<div class="container" *ngIf="AddTodoForm">
    <div class="row my-2">
      <div class="col-lg-8 order-lg-2">
        <h5 class="mb-3">Add New TODO</h5>
        <form role="form" [formGroup]="AddTodoForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label
                class="col-lg-3 col-form-label form-control-label"
                for="title">
                Todo Title: 
              </label>
              <div class="col-lg-9">
                <input
                  id="title"
                  name="title"
                  placeholder="enter your Todo Title"
                  class="form-control"
                  type="text"
                  formControlName="title"
                >
                <div
                class="alert alert-danger"
                *ngIf="!AddTodoForm.get('title').valid && AddTodoForm.get('title').touched">
                  <strong>Error!</strong> Please enter Todo Title
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label
                  class="col-lg-3 col-form-label form-control-label"
                  for="text">
                  Todo Content:
                </label>
                <div class="col-lg-9">
                  <input
                    id="text"
                    name="text"
                    placeholder="enter your Todo Content"
                    class="form-control"
                    type="text"
                    formControlName="text"
                  >
                  <div
                  class="alert alert-danger"
                  *ngIf="!AddTodoForm.get('text').valid && AddTodoForm.get('text').touched">
                    <strong>Error!</strong> Please enter Todo content
                  </div>
                </div>
              </div>
              <div class="form-group row">
                  <label
                    class="col-lg-3 col-form-label form-control-label">
                  </label>
                  <div class="col-lg-9">
                    <input
                      type="submit"
                      class="btn btn-primary"
                      value="Add"
                    >
                    <div
                      class="alert alert-danger"
                      *ngIf="!AddTodoForm.valid && AddTodoForm.touched">
                      Please fill all the fields
                    </div>  
                  </div>
              </div>
        </form>
      </div>
    </div>
  </div>
